<div class="update-container mat-elevation-z4">
  <h2>Update Appointment</h2>
  <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
    <!-- Calendario de Angular Material -->
    <div class="calendar-container">
      <label for="calendar">Choose a date:</label>
      <mat-calendar
        class="custom-calendar"
        (selectedChange)="onDateSelected($event)"
        [(selected)]="date">
      </mat-calendar>
    </div>

    <!-- Botones de acción -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" class="btn-submit" [disabled]="!date">Update</button>
      <button mat-raised-button color="warn" type="button" class="btn-back" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
