<div class="appointment-card mat-elevation-z8">
  <h2 class="card-title">Your Appointments</h2>

  <!-- Tabla de datos -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table" matSort>
    <!-- Doctor -->
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef> Doctor </th>
      <td mat-cell *matCellDef="let element">
        <div class="data-content">
          <mat-icon class="icon">person</mat-icon>
          {{ element.doctorName }}
        </div>
      </td>
    </ng-container>

    <!-- Paciente -->
    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef> Patient </th>
      <td mat-cell *matCellDef="let element">
        <div class="data-content">
          <mat-icon class="icon">face</mat-icon>
          {{ element.patientName }}
        </div>
      </td>
    </ng-container>

    <!-- Fecha -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">
        <div class="data-content">
          <mat-icon class="icon">event</mat-icon>
          {{ element.date | date: 'shortDate' }}
        </div>
      </td>
    </ng-container>

    <!-- Motivo -->
    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef> Reason </th>
      <td mat-cell *matCellDef="let element">
        <div class="data-content">
          <mat-icon class="icon">description</mat-icon>
          {{ element.reason }}
        </div>
      </td>
    </ng-container>

    <!-- Especialidad -->
    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef> Speciality </th>
      <td mat-cell *matCellDef="let element">
        <div class="data-content">
          <mat-icon class="icon">medical_services</mat-icon>
          {{ element.speciality }}
        </div>
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <button mat-icon-button color="primary" (click)="onEditItem(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteItem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!-- Botón para agregar cita -->
  <div class="add-button-container">
    <button class="custom-add-button" (click)="onAddAppointment()">Add New Appointment</button>
  </div>
</div>
