/* Contenedor principal */
#stepper-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Se amplía para darle más espacio */
  margin: 20px auto;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333333;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/* Calendario */
.calendar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-calendar {
  width: 100%; /* Ajusta el tamaño completo */
  max-width: 500px; /* Máximo ancho para pantallas grandes */
  border-radius: 8px;
}

.large-calendar {
  transform: scale(1.2); /* Escala el calendario */
  transform-origin: center; /* Mantiene el centrado */
}

/* Botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-next {
  background-color: #3f51b5;
  color: #ffffff;
}

.btn-next:hover:not(:disabled) {
  background-color: #303f9f;
  box-shadow: 0 4px 15px rgba(63, 81, 181, 0.3);
}

.btn-back {
  background-color: #f44336;
  color: white;
}

.btn-back:hover:not(:disabled) {
  background-color: #d32f2f;
  box-shadow: 0 4px 15px rgba(211, 47, 47, 0.3);
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
}

.btn-submit:hover:not(:disabled) {
  background-color: #45a049;
  box-shadow: 0 4px 15px rgba(0, 128, 0, 0.3);
}

.selected-date {
  font-size: 16px;
  font-weight: bold;
  color: #3f51b5;
  margin-top: 10px;
}